streamlit
streamlit-authenticator
pytesseract
pdf2image
langdetect
fuzzywuzzy
python-levenshtein
PyPDF2
transformers
plotly
pandas
numpy
Pillow
accelerate
python-docx
python-socketio
eventlet